# List of Environment Variables

# Description and Purpose: Provide a brief description of each environment variable, explaining its purpose and how it affects the application. This helps developers understand why a particular variable is necessary.
FIRST_SECRET_KEY={Add the key}

# Description and Purpose: Provide a brief description of each environment variable, explaining its purpose and how it affects the application. This helps developers understand why a particular variable is necessary.
SECOND_SECRET_KEY={Add the key}

# Description and Purpose: Provide a brief description of each environment variable, explaining its purpose and how it affects the application. This helps developers understand why a particular variable is necessary.
THIRD_SECRET_KEY={Add the key}