.hero {
  display: table;
  margin: 0;
  width: 100%;
  height: 542px;
  background-image: url('../../../public/images/hero_background.svg');
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .hero {
    height: 100%;
  }
}

.caption {
  width: 80%;
  padding-left: 40px;
}

.title {
  color: #fafafa;
  font-family: var(--font-roboto);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text {
  color: #fafafa;
  font-family: var(--font-roboto);
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.col {
  display: table-cell;
  padding: 50px 0px 0px 40px;
}

@media only screen and (max-width: 600px) {
  .col {
    display: block;
    width: 100%;
  }
}


