.header {
    background: rgb(240, 8, 235);
  background: -moz-linear-gradient(
    163deg,
    rgba(240, 8, 235, 1) 8%,
    rgba(192, 26, 242, 1) 20%,
    rgba(29, 83, 253, 1) 55%,
    rgba(11, 22, 102, 1) 79%
  );
  background: -webkit-linear-gradient(
    163deg,
    rgba(240, 8, 235, 1) 8%,
    rgba(192, 26, 242, 1) 20%,
    rgba(29, 83, 253, 1) 55%,
    rgba(11, 22, 102, 1) 79%
  );
  background: linear-gradient(163deg, rgba(240, 8, 235, 1) 0%, rgba(29, 83, 253, 1) 35%, rgba(11, 22, 102, 1) 79%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f008eb",endColorstr="#0b1666",GradientType=1);
    padding: 1rem 0;
}

.button_outlined {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #DE00FF, #047CFF);
    color: #fafafa;
    background-color: transparent;
    position: relative;
}
.button_outlined:hover {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #047CFF, #DE00FF);
    box-shadow: none;
    color: #fafafa;
    background-color: transparent;
}
.button_outlined:hover::after{
    border-image-source: linear-gradient(to right, #047CFF, #DE00FF);
}
.button_outlined::after {
    content: '';
    position: absolute;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #DE00FF, #047CFF);
    filter: blur(2px);
    background-color: transparent;
    border-radius: 0;
}

.button_contained {
    background-image: linear-gradient(to right, #DE00FF, #047CFF);
    border-radius: 0;
    position: relative;
}

.button_contained::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    border-radius: 0;
    border: 6px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #DE00FF, #047CFF);
}

.button_contained:hover {
    background-image: linear-gradient(to right, #047CFF, #DE00FF);
}

.button_contained:hover::after {
    border-image-source: linear-gradient(to right, #047CFF, #DE00FF);
}