.glass {
    position: relative;
    overflow: hidden;
right: 10px;
    padding_top: 50px;
    border-radius: 35px;
    border: 4px solid #FAFAFA;
    background: rgba(250, 250, 250, 0.60);
    width: 340px;
}

.paper {
    filter: blur(2px);
}

.h2 {
    position: relative;
    isolation: isolate;
    text-align: center;
    color: #FAFAFA;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}